#main{
    width: 600px;
    height: 600px;
    background-color: aquamarine;
    display: flex;
    justify-content:center;
    align-items: center;
    align-content:space-around;
    flex-wrap: wrap;
}
.child{
width: 100px;
height: 100px;
text-align: center;
background-color: blueviolet;
border: 1px solid black;
margin: 0.5rem;
color: white;
}
#main1{
    width: 600px;
    height: 600px;
    background-color: aquamarine;
    display: flex;
    justify-content:center;
    align-items: center;
    align-content:space-between;
}
.rotate{
    transform: rotate(90deg);
}
.skewX{
    transform: skewX(20deg);
}
.skewY{
    transform: skewY(20deg);
}
.scaleX{
    transform: scaleX(1.5);
}
.scaleY{
    transform: scaleY(1.5);
}
.translate{
    transform: translate(20px,20px);
}
.box{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: blueviolet;
    border: 1px solid black;
    margin: 0.5rem;
    color: white;
}
.box:hover{
    transform: none;
}
#main2{
    display: flex;
    justify-content:left;
    gap: 3rem;
}
.div1, .div2, .div3{
    width: 100px;
    height: 100px;
    background-color:blueviolet;
}
@keyframes sample {
    from{
        background-color: blueviolet;

    }
    to{
        background-color: black;
    }
}
.div1{
animation: sample;
animation-duration: 2s;
animation-timing-function: ease-in;
}
.div2{
transition-property: height,width;
transition-duration: 2s;
transition-timing-function: ease-in;
}
.div2:hover{
    height: 300px;
    width: 300px;
}
@keyframes sample2 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.div3{
animation: sample2;
animation-duration: 10s;
animation-timing-function: ease-in;
}